$COLOR_bg_base: rgb(234, 234, 234);
$COLOR_bg_navbar: #fff;
$COLOR_font-base: #000;
$COLOR_language-info-modal: #9c9494e6;
$COLOR_white: #fff;
$COLOR_button-blue-light: #007bff;
$COLOR_animated-bg-1: #5c5cb0;
$COLOR_animated-bg-2: #9393b9;

//about
$COLOR_about-header-skill-bg: #27273c;
$COLOR_about_proggress_bg-1: #9393b9;
$COLOR_about_proggress_bg-2: #373755;
$COLOR_about_proggress_bg-3: #4b4b79;

//elements
$COLOR_base_button_border: #4b4b79;
$COLOR_base_input_border: #4b4b79;
$COLOR_base_label_text: #4b4b79;

//portfolio
$COLOR_slider_bottom_border: #4b4b79;
$COLOR_project_technologies: #4b4b79;
$COLOR_project_description: #a0a0ad;
$COLOR_portfolio_modal_controls_bg: #4b4b797b;
$COLOR_portfolio_modal_controls_bg-hover: #4b4b79;
$COLOR_portfolio_company_name: #4b4b79;

//contact
$COLOR_success_modal_border: #4b4b79;
$COLOR_success_modal_text: #4b4b79;