$COLOR_font-base: #000;
$COLOR_language-info-modal: #9c9494e6;
$COLOR_white: #fff;
$COLOR_button-blue-light: #007bff;
$COLOR_animated-bg-1: #5c5cb0;
$COLOR_animated-bg-2: #9393b9;

//about
$COLOR_about-header-skill-bg: #27273c;
$COLOR_about_proggress_bg-1: #9393b9;
$COLOR_about_proggress_bg-2: #373755;
$COLOR_about_proggress_bg-3: #4b4b79;

//elements
$COLOR_base_button_border: #4b4b79;

//portfolio
$COLOR_slider_bottom_border: #4b4b79;
