$COLOR_font-base: #000;
$COLOR_language-info-modal: #9c9494e6;
$COLOR_white: #fff;
$COLOR_button-blue-light: #007bff;
$COLOR_animated-bg-1: #86377b;
$COLOR_animated-bg-2: #27273c;

//about
$COLOR_about-header-skill-bg: #27273c;
$COLOR_about_proggress_bg-1: #444463;
$COLOR_about_proggress_bg-2: #27273c;
