@mixin space-v-margin-small {
    margin: .5rem 0;
}
@mixin space-v-margin-med {
    margin: 1.5rem 0;
}
@mixin space-v-margin-big {
    margin: 2.5rem 0;
}
@mixin space-v-margin-huge {
    margin: 7rem 0;
}

@mixin space-h-padding-small {
    padding: 0 .5rem;
}