//margin vertical
@mixin space-v-margin-small {
    margin: .5rem 0;
}
@mixin space-v-margin-med {
    margin: 1.5rem 0;
}
@mixin space-v-margin-big {
    margin: 2.5rem 0;
}
@mixin space-v-margin-huge {
    margin: 7rem 0;
}

//padding horizontal
@mixin space-h-padding-small {
    padding: 0 .5rem;
}
@mixin space-h-padding-med {
    padding: 0 1rem;
}

//padding around
@mixin space-padding-small {
    padding: .5rem;
}
@mixin space-padding-med {
    padding: 1rem;
}