$sides: left, top, right, bottom, leftTop, rightTop, leftBottom, rightBottom;

@each $side in $sides {
    .slide-from-#{$side} {
        animation-name: slide-from-#{$side};
        animation-delay: $TIME_fast-max;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        opacity: 0;
        @if $side == left {
            transform: translateX(-100vw);
        }
        @if $side == top {
            transform: translateY(-100vh);
        }
        @if $side == right {
            transform: translateX(100vw);
        }
        @if $side == bottom {
            transform: translateY(100vh);
        }

        @if $side == leftTop {
            transform: translate(-100vw, -100vh);
        }
        @if $side == rightTop {
            transform: translate(100vw, 100vh);
        }
        @if $side == leftBottom {
            transform: translate(-100vw, 100vh);
        }
        @if $side == rightBottom {
            transform: translate(100vw, 100vh);
        }
    }
}

@keyframes slide-from-left {
    to { transform: translateX(0); opacity: 1;}
}
@keyframes slide-from-top {
    to { transform: translateY(0); opacity: 1;}
}
@keyframes slide-from-right {
    to { transform: translateX(0); opacity: 1;}
}
@keyframes slide-from-bottom {
    to { transform: translateY(0); opacity: 1;}
}
@keyframes slide-from-leftTop {
    to { transform: translate(0, 0); opacity: 1;}
}
@keyframes slide-from-rightTop {
    to { transform: translate(0, 0); opacity: 1;}
}
@keyframes slide-from-leftBottom {
    to { transform: translate(0, 0); opacity: 1;}
}
@keyframes slide-from-rightBottom {
    to { transform: translate(0, 0); opacity: 1;}
}

.bottom-slide-enter-active, .bottom-slide-leave-active {
    transition: transform $TIME_fast;
}
.bottom-slide-enter, .bottom-slide-leave-to {
    transform: translate(-50%, 100vh);
}